<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About Me</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/research">Research</a></li>
				<!--<li><a href="/code-lang">Coding and Languages</a></li>-->
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/sci-wri">Science Communication</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lie6@aber.ac.uk">Email me!</a></li>
	        		<li><a href="https://github.com/liameds1996">GitHub</a></li>
				<li><a href="https://www.researchgate.net/profile/Liam-Edwards-2">ResearchGate</a></li>
				<li><a href="https://scholar.google.com/citations?user=oJbZHcQAAAAJ&hl=en">Google Scholar</a></li>
				<li><a href="https://orcid.org/0000-0002-9222-8648">ORCID</a></li>
				<li><a href="https://twitter.com/LiamTEdwards">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
